body {
	color: black;
	font-family: 'Courier New', Courier, monospace;
}

#container {
	width: 100%;
	height: 100%;
	margin: auto auto;
}


#header {
	background: blue;
	width: 100%;
	height: 290px;
	padding: auto;
	margin: auto;
	background-image: url('./img/metamorfozi.webp');
    background-size: cover;
    background-position: calc(0);
}

.name_logo {
	width: 1000px;
	height: 100px;
	margin: auto;
	display: flex;
	justify-content: flex-end;
}

.header_name {
	width: 1000px;
	height: 20px;
	font-size: 15px;
	padding-top: 50px;
	font-weight: bold;
}

.link_header {
	text-decoration: none;
	letter-spacing: 2px;
    margin-top: 80px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(125, 125, 128, 0.5);
    -webkit-text-stroke: 2px rgb(12, 12, 12);
    -webkit-text-fill-color: #f7f1f1;
}


.header_picture {
	width: 80px;
	height: 80px;
	margin-left: 50px;
	margin-top: 50px;
	transition: transform 0.5s;
	border: 2px solid rgba(125, 125, 128, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.header_picture:hover {
	transform: rotate(360deg);
}

#navigation {
	width: 100%;
	margin-top: 125px;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	background-color: blue;
	height: 65px;
}

.nav-link {
	display: inline-block;
	text-decoration: none;
	color: black;
	margin-top: 20px;
	font-size: 24px;
	text-align: center;
	margin-left: 0px;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 2px rgb(12, 12, 12);
    -webkit-text-fill-color: #2c2b2b;
}


#content {
	background:  #FE9798;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.picture_sheya {
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: left;
}

.bigpicture_name {
	text-align: center;
	font-size: 18px;
}

.sheya {
	width: 150px;
	height: 150px;
	border: 7px solid #2c2c2c;
    padding: 5px;
    display: inline-block;
}

.sheya_link {
	text-decoration: none;
	margin-left: 40px;
	padding-right: 50px;
	color: black;
	font-size: 16px;
	width: 1100px;
}

.sheya_big {
	width: 600px;
	height: 600px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bigsheya_text {
	margin: auto;
	padding: 30px;
	width: 1000px;
	line-height: 1.5;
	text-align: left;
}

.picture_germes {
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: left;
	margin-top: 30px;

}

.germes {
	width: 150px;
	height: 150px;
	border: 7px solid #2c2c2c;
    padding: 5px;
    display: inline-block;
}

.germes_link {
	text-decoration: none;
	margin-left: 40px;
	color: black;
	font-size: 16px;
	width: 1100px;
	padding-right: 50px;
}

.picture_sloni {
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: left;
	margin-top: 30px;
}

.sloni {
	width: 150px;
	height: 150px;
	border: 7px solid #2c2c2c;
    padding: 5px;
    display: inline-block;
}

.sloni_link {
	text-decoration: none;
	margin-left: 40px;
	color: black;
	font-size: 16px;
	width: 1100px;
	padding-right: 50px;
}

.picture_lico {
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: left;
	margin-top: 30px;
}

.lico {
	width: 150px;
	height: 150px;
	border: 7px solid #2c2c2c;
    padding: 5px;
    display: inline-block;
}

.lico_link {
	text-decoration: none;
	margin-left: 40px;
	color: black;
	font-size: 16px;
	width: 1100px;
	padding-right: 50px;
}

.picture_vremya {
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: left;
	margin-top: 30px;
}

.vremya {
	width: 150px;
	height: 150px;
	border: 7px solid #2c2c2c;
    padding: 5px;
    display: inline-block;
}

.vremya_link {
	text-decoration: none;
	margin-left: 40px;
	color: black;
	font-size: 16px;
	width: 1100px;
	padding-right: 50px;
}

.picture_lodka {
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: left;
	margin-top: 30px;
}

.lodka {
	width: 150px;
	height: 150px;
	border: 7px solid #2c2c2c;
    padding: 5px;
    display: inline-block;
}

.lodka_link {
	text-decoration: none;
	margin-left: 40px;
	color: black;
	font-size: 16px;
	width: 1100px;
	padding-right: 50px;
}

.picture_west {
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: left;
	margin-top: 30px;
}

.west {
	width: 150px;
	height: 150px;
	border: 7px solid #2c2c2c;
    padding: 5px;
    display: inline-block;
}

.west_link {
	text-decoration: none;
	margin-left: 40px;
	color: black;
	font-size: 16px;
	width: 1100px;
	padding-right: 50px;
}

.picture_gala {
	padding-top: 20px;
	padding-left: 20px;
	display: flex;
	text-align: left;
	margin-top: 30px;
	padding-bottom: 20px ;
}

.gala {
	width: 150px;
	height: 150px;
	border: 7px solid #2c2c2c;
    padding: 5px;
    display: inline-block;
}

.gala_link {
	text-decoration: none;
	margin-left: 40px;
	color: black;
	font-size: 16px;
	width: 1100px;
	padding-right: 50px;
}


#footer {
   background-color: blue;
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: space-between;
}



.insta {
	width: 40px;
	height: 40px;
	padding-top: 20px;

}

.insta_text {
	margin-left: 50px;
	margin-top: -30px;
	padding-left: 10px;
	color: black;
	font-size: 19px;
	font-weight: bold;
}

.our_insta {
	text-decoration: none;
	font-size: 17px;
	margin-left: 20px;

}

.telegram {
	width: 40px;
	height: 40px;
	padding-top: 20px;

}

.telega_text {
	margin-left: 50px;
	margin-top: -30px;
	padding-left: 10px;
	color: black;
	font-size: 17px;
	font-weight: bold;
}

.our_telegram {
	text-decoration: none;
	font-size: 17px;
	margin-left: 20px;
}

.phone {
	width: 40px;
	height: 40px;
	padding-top: 20px;

}


.phone_text {
	margin-left: 20px;
	margin-top: -30px;
	padding-left: 20px;
	color: black;
	font-size: 17px;
	font-weight: bold;
}

.our_phone {
	text-decoration: none;
	font-size: 17px;
}

.contact_text {
	text-align: left;
	margin-left: 30px;
	line-height: 2.5;
}

.notification {
	background-color: #f8d7da;
	color: #dd0f24;
	padding: 100px;
	border: 1px solid #f5c6cb;
	border-radius: 5px;
	font-weight: bolder;
	font-size: 17px;
	line-height: 1.5;
}

.about_text {
	text-align: left;
	padding: 20px 30px 0px 50px;
	line-height: 1.5;
}

/* Стили для выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
	margin-top: -13px;
}

/* Стили для ссылки */
.dropdown a {

    color: black;
    text-decoration: none;
    padding: 10px;
}

/* Стили для содержимого выпадающего меню */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fadada;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Показываем выпадающее меню при наведении на ссылку */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Стили для пунктов меню */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Стили для пунктов меню при наведении */
.dropdown-content a:hover {
    background-color: #FE9798;
}